<head>
<style>
    .invalid{
        border: 1px solid red;
    }
</style>
</head>

<!-- Interpolation -->
<h2>{{title}}</h2>
<br>
<!-- Event Binding  -->
<button type="button" (click)="performAction()">Click Me</button>
<!-- Style Binding -->
<br><br>
<div [style.width.px]="starWidth" [style.overflow]="'hidden'">
    <div style="width:75px"  [style.color]="starColor">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div>
<br><br>
<!-- Class Binding -->
<label>Enter Name:</label>
<input type="text" name="username" required [class.invalid]="true"/>
<br><br>
<!-- Attr binding -->
<label>Name: </label>
<input type="text" name="username" [attr.value]="customerName" id="user_name">
<!-- Property binding -->
<div [innerHTML]="title"></div>
<br><br>
<!-- two-way binding -->
<label>Enter customer name</label>
<input type="text" name="customer_name" [(ngModel)]="customerName">
<br>
{{customerName}}